
.header{
    width:100vw;
    height: auto;
}
.fnavbar{
    width:100vw;
    height: 60px;
    background: #34495e;
    display: flex;
    align-items: center;
    }
.search_bar{
    background:white;
    width:40%;
}
.logo{
    margin-left: 8%;
    margin-right: 2%;
}
.Location{
    color: wheat;
    margin-left: 20%;
    margin-right: .8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username{
    color: aliceblue;
    margin-left: .7%;
    font-size: 13px;
    letter-Spacing:1;
    letter-Spacing:1
}
.snavbar{
    background-color:#2c3e50;
    width: 100vw;
    height: 33px;
    display: flex;
    justify-content: space-between;
}
.leftsnavbar{
    display: flex;
    flex-direction: row;
  margin-left: 8%;
   font-size: 14px;;
   width: 40%;
   letter-Spacing:1;
   height: 33px;
   align-items: center;
   color: aliceblue;
}
.snavbar_links{
    margin-right: 4%;
}
.rightsnavbar{
    color: aliceblue;
    width: 25%;
    height: 33px;
    margin-right: 2%;
    letter-Spacing:1;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.dialogcontent_maindiv{
    width:100%;
    
}