.maincontainerposter{
  position: relative;
}
.posterdiv{
   
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;;
    padding-left: 15%;
    padding-right: 15%;
}
.maincontainer{
    background-color: #f5f6fa;
    width: 98.5vw;
  overflow: hidden;

}
.heading{
margin-left: 5%;
margin-top: 2%;
margin-bottom: 1%;
font-weight: bold;
font-size: 25px;
}


.leftarrowcircle{
  position: absolute;
  top: 43%;
  left: .3%;
  z-index: 1;
  color: #f5f6fa; 
  width:40px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}


.rightarrowcircle{
  position: absolute;
  top:43%;
  right:.3%;
  z-index: 1;
  color: #f5f6fa;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
}