.maincontainer{
    position: relative;
  
}

.leftarrowcircle{
    position: absolute;
    top: 43%;
    left: .3%;
    z-index: 1;
    color: #f5f6fa; 
    width:40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
  }

  
.rightarrowcircle{
    position: absolute;
    top:43%;
    right:.3%;
    z-index: 1;
    color: #f5f6fa;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}